/* Add CSS Styling */

p {
    font-family: "Verdana", "DejaVi Sans", sans-serif;
    background-color: lightpink;
}

.third, #fourth {
    font-size: 24px;
}

#second {
    color: blue;
    font-size: 36px;
}

#fourth {
    background-color: lightgreen;
    font-weight: bold;
}

